In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [2]:
os.chdir('D:/codes/data_sets/ml-100k/')

In [3]:
data = pd.read_csv('u.data',sep = '\t',names=['user_id','item_id','rating','timestamp'])
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [4]:
genre = pd.read_csv('u.genre',sep='\|',engine='python',index_col=1,names=['genre','index']) 
genre.head()

            genre
index
0         unknown
1          Action
2       Adventure
3       Animation
4      Children's

In [5]:
genre = list(genre.genre)

In [6]:
genre

['unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [7]:
item = pd.read_csv('u.item',sep ='\|',encoding="ISO-8859-1",header=None,engine='python')
item.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
movie_type = item[[i for i in range(5,24)]]
movie_type.head()

   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20  21  22  23
0   0   0   0   1   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
3   0   1   0   0   0   1   0   0   1   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   1   0   1   0   0   0   0   0   0   0   1   0   0

In [9]:
movie_type.columns=genre

In [10]:
movie_type.insert(0,'title',item.loc[:,1])

In [11]:
movie_type=movie_type.transpose()
movie_type

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
unknown,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
movie_type.to_csv('movie_genre.csv',header=None)

In [13]:
movie_type=pd.read_csv('movie_genre.csv')
movie_type

,title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998).1,You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
0,unknown,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Action,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,Adventure,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Animation,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Children's,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,Comedy,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
6,Crime,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Documentary,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Drama,0,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
9,Fantasy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Film-Noir,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Horror,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Musical,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Mystery,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Romance,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
15,Sci-Fi,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Thriller,0,1,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
17,War,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Western,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
starwars_genre = movie_type['Star Wars (1977)'].dropna()
starwars_genre

0     0
1     1
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    1
16    0
17    1
18    0
Name: Star Wars (1977), dtype: int64

In [15]:
sr = movie_type.corrwith(starwars_genre).sort_values(ascending=False)
sr

Star Wars (1977)                   1.000000
Return of the Jedi (1983)          1.000000
Empire Strikes Back, The (1980)    0.879664
Starship Troopers (1997)           0.864099
African Queen, The (1951)          0.864099
                                     ...
Big Lebowski, The (1998)          -0.308607
Wild Things (1998)                -0.308607
L.A. Confidential (1997)          -0.308607
Devil in a Blue Dress (1995)      -0.308607
Devil's Advocate, The (1997)      -0.308607
Length: 1682, dtype: float64

In [16]:
starwars_genre_corr = pd.DataFrame(sr).reset_index()
starwars_genre_corr.columns=['title','genre_correlation']
starwars_genre_corr

                                title  genre_correlation
0                    Star Wars (1977)           1.000000
1           Return of the Jedi (1983)           1.000000
2     Empire Strikes Back, The (1980)           0.879664
3            Starship Troopers (1997)           0.864099
4           African Queen, The (1951)           0.864099
...                               ...                ...
1677         Big Lebowski, The (1998)          -0.308607
1678               Wild Things (1998)          -0.308607
1679         L.A. Confidential (1997)          -0.308607
1680     Devil in a Blue Dress (1995)          -0.308607
1681     Devil's Advocate, The (1997)          -0.308607

[1682 rows x 2 columns]